@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    
}

.w-15{
    width: 15%;
}

.w-85{
    width: 85%;
}

.modal-img{
    width: 13rem;
    height: 10rem;
}

.print-hidden{
    visibility: visible;
}

@media print {
   .print-hidden{
       visibility: hidden;
   }
}

.avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #fefeff;
    object-fit: cover;

}

@media only screen and (max-width: 1200px) {
    .w-85{
        width: 100%;
    }

    .modal-img{
        width: 9rem;
        height: 6rem;
    }
}

.logout-btn{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}
